#board {
  display: grid;
  grid-template-columns: repeat(10, 70px);
  grid-template-rows: repeat(10, 70px);
  border: 15px ridge silver;
  /* column-gap: 10px; */
  /* row-gap: 10px; */
}

.tile {
  position: relative;
  margin: 0;
  padding: 5px 5px;
  font-size: x-small;
  font-weight: bold;
  box-sizing: border-box;
  width: 70px;
  height: 70px;
  border: 3px ridge silver;
  background-color: #f5f5dc;
}

.player {
  /* display: flex; */
}

.player {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 10px ridge cadetblue;
  margin: auto;
  background-color: lightblue;
  z-index: 100;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.ladder-start {
  /* background-color: chocolate; */

}

.ladder-start {
  background-color: transparent;
  border: 10px ridge brown;
  position: absolute;
  height: 5px;
  transform-origin: top left;
  z-index: 50;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */

  /* border-radius: 20%; */
}

.ladder-end {
  /* background-color: chocolate; */

}

.coords {
  position: absolute;
  margin: 0;
  top: 0;
}

.button {
  padding: 5px 10px;
  background-color: lightblue;
  color: rgb(34, 34, 34);
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  border: solid 2px rgb(34, 34, 34);
}

.button:disabled {
  background-color: lightgray;
}

#dice-results {
  
  font-weight: bold;
  font-size: 1rem;
}

body {
  font-family: Helvetica, sans-serif;
  display: flex;
  color: rgb(34, 34, 34);
}

.game {
  margin: auto;

}

.inline {
  display: inline-block;
}

.m-0 {
  margin: 0;
}

.m-lr {
  margin-left: 20px;
  margin-right: 20px;
}